@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    overflow: hidden !important;
}
h1,h2,h3,h4,h5,h6{
    
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
section{
    padding: 90px 0px;
}
:root{
    --text-color: #cbccd2;
    --btn-color: #e84545;
    --footer-bg: #3a3e64;
}
/* common code end */

/* ---------------------------------------------------------------- */

/* header area start */

a.navbar-brand {
    font-weight: 700;
}
li.nav-item a {
    font-size: 14px;
    color: var(--text-color);
}
li.nav-item a:hover{
    color: var(--text-color);
}
li.nav-item a:focus{
    color: var(--text-color);
}
.header{
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.header_desc p{
    color: var(--text-color);
    font-size: 18px;
}
.header_desc button {
    border-radius: 3px !important;
    font-size: 13px;
    padding: 10px 35px;
    outline: none;
    border: none;
    background-color: #e84545;
    color: white;
    text-transform: uppercase;
}
.header_desc h1 {
    font-size: 50px;
    color: white;
}
.header_desc {
    padding: 68px 0px;
}
/* header area end */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* service area start */
.service-item h2{
    font-size: 20px;
}
.service-item p {
    font-size: 14px;
}

.service-item img {
    width: 60px;
    height: 60px;
}
/* service area start */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* works area start */
.work_item img{
    width: 100%;
    height: 270px;
}
/* works area end */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* blog area start */
.blog_item h3 {
    font-size: 22px;
}

.blog_item h5 {
    color: #e84545;
    font-size: 14px;
    text-transform: uppercase;
}

.blog_item p {
    font-size: 14px;
    color: #6c7279;
}
.blog_item img {
    width: 100%;
}
.social_media ul li a {
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    line-height: 34px;
    color: #767272;
}
/* blog area end */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* works area start */
section.works {
    padding: 0;
}
.work_item {
    position: relative;
}

.work_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(221, 74, 73, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.work_info h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.work_info p {
    color: #fff;
    font-size: 14px;
}
.work_item:hover .work_overlay{
    visibility: visible;
    opacity: 1;
}

/* works area start */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* testimonial area start */
section.testimonial {
    padding: 0;
}
.testi_content h3{
    font-style: italic;
    font-size: 24px;
    width: 500px;
    color: #fff;
    font-weight: 400;
}
.testi_content{
    background-color: #53354a;
    padding: 117px 40px;
    height: 100%;
}
.testi_content p {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.testi_con{
    height: 355px;
}
/* testimonial area end */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
.ready_now button{
    border-radius: 3px !important;
    font-size: 13px;
    padding: 10px 40px;
    outline: none;
    border: none;
    background-color: #e84545;
    color: white;
    text-transform: uppercase;
}
.ready_now p{
    font-size: 14px;
}
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* footer area start */
.footer{
    background-color: var(--footer-bg);
    padding: 80px 0px;
}
.title h5 {
    color: #fff;
    font-size: 18px;
}
.footer_loc p{
    color: var(--text-color);
    font-size: 14px;
}
.footer_loc ul li a {
    width: 32px;
    height: 30px;
    display: block;
    line-height: 25px;
    border: 1px solid #fff;
    color: #fff;
}

.footer_loc ul li a i {
    font-size: 14px;
}
.copyright_area {
    background: #313454;
    padding: 20px 0px;
}

.copyright_area p {
    color: #727378;
    font-size: 14px;
}
.copyright_area a{
    color: #fff;
}
/* footer area end */
.back_to_top {
    position: fixed;
    width: 37px;
    height: 37px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 35px;
    right: 35px;
    box-shadow: rgba(15, 15, 15, 0.15) 0px 2px 40px 8px;
    z-index: 99;
}

.back_to_top i {
    color: #fff;
}
/* ---------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1080px) {
    header.header {
        height: 595px;
        width: 100%;
    }
    
    section.works {
        display: flex;
        flex-wrap: wrap;
    }
    
    .work_overlay {
        width: 97% !important;
    }
    
    .testi_content h3 {
        width: 100%;
    }
    
    .testi_item {
        height: 385px;
    }
    
    .testi_item img {
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    header.header {
        height: 435px;
    }
    
    .header_desc h1 {
        font-size: 25px;
    }
    
    .header_desc p {
        font-size: 15px;
    }
    
    .header_desc {
        padding: 30px 0px;
    }
    
    .service-item {
        margin-bottom: 25px;
    }
    
    .work_item {
        margin-bottom: 25px;
        padding: 0px 10px;
    }
    .testi_content h3 {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    section.ready {
        margin-top: 110px;
    }
    
    .testi_content {
        padding: 75px 0px;
    }
    
    .testi_content p {
        text-align: center;
    }
    
    .footer_loc.text-center {
        margin-bottom: 20px;
    }
    
    .blog_item {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .social_media ul {justify-content: center;}
    .work_overlay {
        width: 94% !important;
    }
}
@media screen and (min-width: 555px) and (max-width: 768px) {
    .work_overlay {
        width: 97% !important;
    }
}
@media screen and (max-width: 575px) {
    .header_desc h1{
        font-size: 20px;
    }
    .header_desc p{
        font-size: 14px;
    }
}